<div class="container mx-auto">

  <h1 class="mb-3 text-center fw-bold">新人登入</h1>

  <%= form_tag sign_in_sessions_path do %>
    <%= label_tag "帳號" %>
    <%= text_field_tag :username, nil, placeholder: "Username" %>
    <%= label_tag "密碼" %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <%= submit_tag "登入"%>
    <%= link_to '註冊', sign_up_users_path, class: "btn btn-outline-secondary mx-3" %>
  <% end %>
</div>
