<div class="container mx-auto blessing-container blessing-new board_color_2 message_board_type_0">
  <div class="container-background background-color-1">
    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="blessing-title border-color-2">
      <div class="title-image"><img class="border-color-2" src=""></div>
      <h3>歡迎參加 <span><%= "#{@user&.bride}＆#{@user.bridegroom}" %></span> 的婚禮，快來寫下您想對我們說的話吧！</h3>
      <p>請在下方填上您的手機、姓名以及想要祝福的話，我們稍後會進行抽獎哦～</p>
    </div>

    <%= form_for @comment do |f| %>
      <div class="form-group">
        <%= f.label :phone_number, '手機號碼(抽獎用)' %>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :name, '姓名：' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :message, '祝福內容：' %>
        <%= f.text_area :message, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit '送出祝福', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
