<div class="container mx-auto md:container md:mx-auto">
  <div class="flex-wrap mt-6 mx-8">
    <%= render 'layouts/navbar' %>
    <h1 class="mt-16 mb-10 text-center text-3xl font-black text-gray-500">編輯新人資料</h1>
    <% if @user.errors.any? %>
      <div class="max-w-md mx-auto border-gray-300 border bg-blue-50 mb-8 -mt-6">
        <ul class="px-4 py-2">
          <% @user.errors.full_messages.each do |msg| %>
            <li class="text-gray-400 font-semibold">
              <span class="font-black text-2xl">．</span>
              <%= "#{msg.split(' ')[0]}：#{msg.split(' ')[1]}" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="pb-10 lg:pb-8 ">
      <div class="max-w-md mx-auto mb-5">
        <%= image_tag(@user.picture, class: 'w-full') if @user.picture.attached? %>
      </div>
      <%= form_for @user, url: user_path(@user.username), html: { class: 'max-w-md mx-auto' } do |f| %>
        <div class="form-group text-xl mb-5">
          <div><%= f.label :picture, '留言顯示照片：', class: 'w-max' %></div>
          <div><%= f.file_field :picture, class: 'border-2 p-2 w-full' %></div>
        </div>
        <div class="form-group text-xl mb-5">
          <div><%= f.label :bride, '新娘：', class: 'w-max' %></div>
          <div><%= f.text_field :bride, placeholder: '小白', class: 'border-2 p-2 w-full' %></div>
        </div>
        <div class="form-group text-xl mb-5">
          <div><%= f.label :bridegroom, '新郎：', class: 'w-max' %></div>
          <div><%= f.text_field :bridegroom, placeholder: '蠟筆小新', class: 'border-2 p-2 w-full' %></div>
        </div>
        <%= f.button '更新', class: 'w-max mr-3 p-2 bg-gray-700 text-white border border-double' %>
      <% end %>
    </div>
  </div>
</div>
