<div class="container mx-auto">
  <%= render 'layouts/navbar' %>
  <h1 class="mb-3 text-center fw-bold">編輯新人資料</h1>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="d-flex justify-content-center align-items-center">
    <div class="user-form-container mt-5 border border-dark p-5">
      <%= form_for @user, url: user_path(@user.username) do |f| %>
        <%= f.label :picture, '留言顯示照片' %>
        <%= f.file_field :picture, class: 'form-control' %>
        <%= f.label :bride, '新娘' %>
        <%= f.text_field :bride, placeholder: '小白' %>
        <%= f.label :bridegroom, '新郎' %>
        <%= f.text_field :bridegroom, placeholder: '蠟筆小新' %>
        <%= f.submit '更新' %>
      <% end %>
    </div>
  </div>

</div>
