<div class="container mx-auto">

  <h1 class="mb-3 text-center fw-bold">新人註冊</h1>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="d-flex justify-content-center align-items-center">
    <div class="user-form-container mt-5 border border-dark p-5">
      <%= form_for @user, url: sign_up_users_path do |f| %>
        <%= f.label :bride, '新娘' %>
        <%= f.text_field :bride, placeholder: '小白' %>
        <%= f.label :bridegroom, '新郎' %>
        <%= f.text_field :bridegroom, placeholder: '蠟筆小新' %>
        <%= f.label :username, '帳號' %>
        <%= f.text_field :username, placeholder: 'Username' %>
        <%= f.label :password, '密碼' %>
        <%= f.password_field :password, placeholder: 'Password' %>
        <%= f.label :password_confirmation, '確認密碼' %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
        <%= f.submit '註冊' %>
        <%= link_to '返回登入頁', sign_in_sessions_path, class: "btn btn-outline-secondary mx-3" %>
      <% end %>
    </div>
  </div>
</div>
